.container {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  border-radius: 3rem;
  max-width: 900px;
}

.imgForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgForm img {
  width: 400px;
  height: 500px;
  border-radius: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
